h1 {
    color: blue;
}

body {
    background: #0a1529;
}

input {
    color: #cecece !important;
    border-color: #cecece !important;
}

ul, li {
    color: #cecece !important;
    background: #182844 !important;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(http://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.container {
    padding-top: 10px;
}

.row {
    margin-bottom: 0 !important;
}

.file-list {
    height: 168px;
    overflow-y: auto !important;
}

ul.tabs {
    background: #182844 !important;
    border-color: white !important;
}

.tabs a {
    border-color: white !important;
    color: #cecece !important;
}

.tabs .tab a.active {
    background: #0a1529 !important;
    color: #26a69a !important;
}

.tabs li.indicator {
    background: #26a69a !important;
}

#toast-container {
    left: 50% !important;
    transform: translateX(-50%) !important;
}

#output-button {
    padding-left: 0 !important;
}